<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Result</title>
</head>
<body>
    <div class="container">

        <b></b>Message:</b><br>
        <div class="container-child">
            {{ data["vector"] }}
        </div><br>

        <b></b>Attempts:</b><br>
        <div class="container-child">
            {{ data["n_attempts"] }}
        </div><br>

    </div>
</body>
</html>