<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        Gilbert Varshamov distance: <h1>{{ gvd }}</h1>
    </div>

    <div class="container">

        <form method="post">
        
        <span class="vstup"> Enter T:     
        <input type="text" name="t_hints" size="4" >
        </span><br><br>

        <span class="vstup"> 
            <button type="submit" name="submit-t" value="gen-code">Generate Inputs</button>   
        </span>

        </form>

   </div>
    
</body>
</html>