<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Inputs</title>
</head>
<body>

    <div class="container">

        <span class="data-item"> Generator matrix <b>G</b> : </span><br>

        <div class="container-child-input">
        {% for row in data["gen_matrix"] %}
        <tr>
            {% for elem in row %}
            <td>{{elem}}</td>
            {% endfor %}<br>
        </tr>
        {% endfor %}
        </div><br><br>
        
        
        <span class="data-item"> Received vector <b>r</b>: </span>
        <div class="container-child-input">
            {% for item in data["received_vector"] %}
                {{ item }}
            {% endfor %}
        </div><br>  

    
        <span class="data-item"> Error decomposition <b>t</b>: </span>
        <div class="container-child-input">
            {% for item in data["t_hints"] %}
                {{ item }}
            {% endfor %}
        </div><br>

        <span class="data-item"> vector <b>x</b> : </span>
        <div class="container-child-input">
            {% for item in data["vector_x"] %}
                {{ item }}
            {% endfor %}
        </div><br>

        <span class="data-item"> Error count <b>w</b> : </span>
        <div class="container-child-input">
            {{ data["omega"] }}
        </div><br>

        <span class="data-item"> Gilbert-Varshamov distance : </span>
        <div class="container-child-add-info">
            {{ data["gv_distance"] }}
        </div><br>

         <span class="data-item"> Correctable amount of errors : </span>
        <div class="container-child-add-info">
            {{ data["max_n_errors"] }}
        </div><br>

        <span class="data-item"> Succes probability with hints (1 iter) : </span>
        <div class="container-child-add-info">
            {{ data["prob_hints"] }}
        </div><br>

        <span class="data-item"> Succes prob with Plain ISD (1 iter) : </span>
        <div class="container-child-add-info">
            {{ data["prob_plain"] }}
        </div><br>

        <span class="data-item"> Message <b>m</b> : </span>
        <div class="container-child-output">
            {% for item in data["message_vector"] %}
                {{ item }}
            {% endfor %}
        </div><br>

        <span class="data-item"> Error vector <b>e</b> : </span>
        <div class="container-child-output">
            {% for item in data["error_vector"] %}
                {{ item }}
            {% endfor %}
        </div><br>

        <span class="data-item"> Warning: </span>
        <div class="container-child">
            {% for item in data["message_for_user"] %}
                {{ item }}<br>
            {% endfor %}
        </div><br>

        <div class="legenda">

            <div class="inpt"> Input </div> 
            <div class="outpt"> Expected Output </div>
            <div class="add-info"> Additional Info</div>
        
        </div>

        <div class="decode-buttons">
            <form class="plain-button" target="_blank" method="post">
                <span> 
                    <button type="submit" name="decode-button" value="plain">Decode Plain ISD</button>   
                </span>
            </form>

            <form class="hints-button" target="_blank" method="post">
                <span> 
                    <button type="submit" name="decode-button" value="hints">Decode with hints</button>   
                </span>
            </form>

        </div>

    </div>

    

</body>

</html>