<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Inputs</title>
</head>
<body>

    <div class="container">

        <b>Generator matrix:</b><br>

        <div class="container-child">
        {% for row in data["gen_matrix"] %}
        <tr>
            {% for elem in row %}
            <td>{{elem}}</td>
            {% endfor %}<br>
        </tr>
        {% endfor %}
        </div><br><br>

        <b></b>Gilbert-Varshamov distance:</b><br>
        <div class="container-child">
            {{ data["gv_distance"] }}
        </div><br>

        <b></b>Message:</b><br>
        <div class="container-child">
            {{ data["message_vector"] }}
        </div><br>

        <b></b>Omega:</b><br>
        <div class="container-child">
            {{ data["omega"] }}
        </div><br>

        <b></b>Error vector:</b><br>
        <div class="container-child">
            {{ data["error_vector"] }}
        </div><br>

        <b></b>Received vector:</b><br>
        <div class="container-child">
            {{ data["received_vector"] }}
        </div><br>

        <b></b>error decomposition:</b><br>
        <div class="container-child">
            {{ data["t_hints"] }}
        </div><br>

        <form target="_blank" method="post">
            <span> 
            <input type="submit" name="plain" value="decode(plain isd)">   
            </span>

            <span> 
            <input type="submit" name="hints" value="decode(with hints)">   
            </span>
        </form>

    </div>

</body>

</html>