<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
   <div class="div1">

    <span class="moja">
        Linear
    </span>

    <span class="stranka">
        Code
    </span>

   </div>

   <div class="div2">
    <form>
        <label for="n"> 
            <span class="n-mat"> N: </span>    
        </label>

        <input class="n-input" type="text" id="n" size="4">

        <label for="k">
            <span class="n-mat"> K: </span>    
        </label>

        <input class="k-input" type="text" id="k" size="4"><br>

        <input class="gen" type="submit" id="submit" value="generate">

    </form>
   </div>


</body>
</html>