<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
   

   <div class="container">

        <form method="post">
        
        <span class="vstup"> Enter T size:     
        <input type="text" name="t_size" size="4" >
        </span><br><br>
        <span class="vstup"> Enter max attempt count:     
        <input type="text" name="max_attempts" size="4" >
        </span><br><br>


        <span class="vstup"> 
            <button type="submit" name="decode-button" value="gen-code">Generate Input</button>   
        </span>

        </form>

   </div>


</body>
</html>