<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
   <div class="div1">

    <span class="moja">
        LinearCode
    </span>

   </div>

   <div class="div2">
    <form action="/gen-code" method="post">
        
        <span class="NK"> N:     
        <input type="text" name="n" size="4" >
        </span>

        <!-- <span class="NK"> K:     
        <input type="text" name="k" size="4"><br>
        </span> -->

        <input class="gen" type="submit" id="submit" value="generate">

    </form>
   </div>


</body>
</html>