<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Matrix</title>
</head>
<body>
    <div class="container">
        G:
        <div class="container-child">
            {% for row in matrix.data %}
                {% for item in row %}
                    {{item}}
                {% endfor %}<br>
            {% endfor %}
        </div><br>
        I:
        <div class="container-child">
            {% for item in i.data %}
                {{item}}
            {% endfor %}
        </div><br>
        r:
        <div class="container-child">
            {% for item in m.data %}
                {{item}}
            {% endfor %}
        </div><br>
        e:
        <div class="container-child">
                {% for item in e.data %}
                {{item}}
                {% endfor %}
        </div><br>
        r+e:
        <div class="container-child">
                {% for item in r.data %}
                {{item}}
                {% endfor %}
        </div><br>
        &phi;G:
        <div class="container-child">
            {% for row in masked_matrix.data %}
                {% for item in row %}
                    {{item}}
                {% endfor %}<br>
            {% endfor %}
        </div><br>
        &phi;(r+e):
        <div class="container-child">
            {% for item in masked_r.data %}
            {{item}}
            {% endfor %}
    </div><br>

    </div>
</body>
</html>